h1,
h2 {
  font-family: Lato;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  /* justify-content: center;
  align-items: center; */
  place-content: center end;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 5em;
  height: 5em;
  background-color: yellow;
  margin: 1em;
}

.text {
  display: flex;
  place-content: center;
  flex-wrap: wrap
}
